// variables

$color1: rgb(123, 194, 224);
$color2: rgb(240, 188, 212);
$color3: rgb(157, 216, 106);

* {
	margin: 0;
	padding: 0;
}

main {
	max-width: 60%;
	margin: auto;
}

h1 {
	font-size: 32px;
	color: $color1;
	text-align: center;
	margin: 2rem;
}

h2 {
	font-size: 28px;
	color: $color3;
	text-align: center;
	margin-bottom: 1rem;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.articles {
	align-items: stretch;

	& .next {
		align-self: flex-end;
	}
}

article {
	display: flex;
	flex-direction: column;
	align-items: stretch;

	.articleNr {
		font-size: 12px;
		font-weight: 700;
		padding: 0;
		color: $color3;
		text-align: center;
	}

	p {
		text-align: justify;
		padding: 1rem 0;
	}

	h3 {
		background: $color2;
		padding: 1rem 2rem;

		&.newTitle {
			padding: 0;
		}
	}

	a {
		color: $color1;
		font-weight: 700;
		align-self: flex-end;

		&:hover {
			text-decoration: underline;
			text-decoration-color: $color3;
			text-decoration-thickness: 5px;
		}
	}
}

input,
button,
textarea {
	font-weight: 700;
	font-size: 18px;
	border-radius: 10px;

	padding: 0.5rem 1rem;
	border: 3px solid $color1;
	margin-top: 1rem;
	margin-bottom: 1rem;

	&::placeholder {
		font-weight: 400;
		font-size: 12px;
	}
}

input[type="number"] {
	max-width: 100px;
}

textarea {
	align-self: stretch;
	font-weight: 400;
	font-size: 12px;
}

button {
	background: $color2;
	color: white;
	cursor: pointer;

	&:hover,
	&:focus {
		box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.3);
		border-color: $color3;
	}
}

label {
	font-weight: 500;
	margin-bottom: 0.5rem;
}

nav {
	display: flex;
	justify-content: space-evenly;
	background: $color1;
	padding: 1rem;

	& a {
		text-decoration: none;
		color: white;
		font-weight: 700;
		text-transform: uppercase;

		&:hover {
			text-decoration: underline;
			text-decoration-color: $color3;
			text-decoration-thickness: 5px;
		}
	}

	@media screen and (max-width: 500px) {
		flex-direction: column;
		align-items: center;
	}
}
